:root {
  --background: #121622;
  --background2: #181d2e;
  --background-button: #1d243a;
  --background-button2: #222b47;
  --yellow: #ff0c4f;
  --gray: #afb2be;
  --white: #d2d4db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #fbfbfb;
  background: var(--background);
}

input,
textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}
